form {
  /* margin-left: 2vw; */
  /* margin-top: 2vw; */
  margin: 2em 2em;
}

.icon {
  transition: ease-in-out .2s;
}
.icon:hover {
  background-color: #FF8367;
}

form h2 {
  margin-bottom: 0px;
  margin-left: 15%;
}

.form-options {
  margin: 0 2vw 1vh 0vw;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    border-radius: 15px;
    padding: 5px;
    border: solid 2px;
    cursor: pointer;
}

.form-options p {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #282c34;
  padding: 9px;
}

.form-subheader {
  margin: 1vh 0 1vh 0;
}

button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* form button {
  height: 4vh
} */

.choice {
  border: solid 2px #282c34;
  padding: 9px;
  border-radius: 15px;
}

.form-options p:hover {
  border: solid 1px orange;
  padding: 9px;
}

p svg {
  width: 6vw;
  height: 10vh;
}

.selected-choice {
  background-color: #FF8367;
  color: #282c34;
  /* border: solid 1px orange; */
  padding: 9px;
  border-radius: 15px;
}


.submit-link {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-content: center; */
  margin: auto;
  /* width: 45%; */
  /* font-size: 2vh; */
  width: 94%;
  /* font-weight: bolder; */
  text-decoration: none;
  /* z-index: 10; */
}

.submit-link:hover {
  /* background: #e100a9; */
  color: #282c34;
  /* border-color: #e100a9; */
}

.submit-button {
  /* padding: 1em; */
  font-size: 1.2rem;
  font-weight: bolder;
  height: 3em;
  background: #282c34;
  border: 2px solid white;
  border-radius: 10px;
  transition: ease-in-out .2s;
  cursor: pointer;
  /* z-index: 1; */
  color:white;
  padding: 1em;
}

.submit-button:hover {
  background: #e100a9;
  color: #282c34;
  border-color: #e100a9;
}