form {
  margin-left: 2vw;
  margin-top: 2vw;
}

form h2 {
  margin-bottom: 0px;
  margin-left: 15%;
}

.form-options {
  margin: 0 2vw 1vh 0vw;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    border-radius: 15px;
    padding: 5px;
    border: solid 2px;
}

.form-options p {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #282c34;
  padding: 9px;
}

.form-subheader {
  margin: 1vh 0 1vh 0;
}

button a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

form button {
  height: 5vh;
  width: 7vw;
  border-radius: 15px;
  border: solid 2px white;
  margin-bottom: 2em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

form button:hover{
  border: 1.5px solid orange;
   text-decoration: none;
}

form button:focus {
  outline: none;
}

.choice {
  border: solid 2px #282c34;
  padding: 9px;
  border-radius: 15px;
}

.form-options p:hover {
  border: solid 1px orange;
  padding: 9px;
}

p svg {
  width: 6vw;
  height: 10vh;
}

.selected-choice {
  background-color: orange;
  border: solid 1px orange;
  padding: 9px;
  border-radius: 15px;
}