form {
  margin-left: 2vw;
  margin-top: 2vw;
}

.form-options {
  margin: 0 2vw 1vh;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
    border-radius: 15px;
    padding: 10px;
    border: solid 2px;
}

.form-subheader {
  margin: 1vh 0 1vh 0;
}

form article {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    border-radius: 15px;
    padding: 10px;
    border: solid 2px;
}

button a {
    text-decoration: none;
}

form button {
  height: 4vh
}

.choice {
  border: solid 1px grey;
  padding: 10px;
  border-radius: 15px;
}

.selected-choice {
  border: solid 1px grey;
  background-color: orange;
  padding: 10px;
  font-weight: bolder;
  border-radius: 15px;
}



/* .decade-choice:active {
  background-color: red;
} */