
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: auto;
}

#music-note {
  display: flex;
  flex-direction: row;
  /* position: relative; */
  right: 91vw;
  top: .9%;
  position: absolute;
  animation: linear initial alternate;
  animation-name: run;
  animation-duration: 4s;
}

@keyframes run {
    0% { 
      right: -10%;
      opacity: 0%
    }
    50%{ 
      opacity: 30%;
    }
    100%{ 
      right: 91%;
      opacity: 90%;
    }
}

.note-img {
  width: 4em;
  height: 3.7em;
}

nav {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: -10vw;
  z-index: 1;
  
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 100%;
  background: white;
  border: 1px solid white;
}

.nav-btn-link {
  color: #7797F1;
  width: 45%;
  font-size: 2vh;
  font-weight: bolder;
  text-decoration: none;
}

.nav-btn:hover {
  background: #282c34;
  color: #7797F1;
}

.app-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2vw 0;
  border-bottom: 2px solid white;
  /* background-color: #7797F1; */
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}

.app-name {
  font-size: 1.5em;
  font-style: italic;
  margin-left: -10vw;
  z-index: 1;
}
